body {
    background-image:url('../images/background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    padding-top:70px;
}
#contents {
    background-color: ivory;
    z-index: 2;
}
